.nuevo-item
{
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}
.ui.grid
{
    margin: 0;
}
i.icon, i.icons 
{
    font-size: 20px;
}
input[type="checkbox"] {
    width: 20px; /* Ancho deseado */
    height: 20px; /* Alto deseado */
    }
.elemento2{
    padding-bottom: 90px;
    
}
@media (max-width: 767.20px) {
    .elemento {
        padding-top: 50px; /* Cambiar el valor de padding para pantallas más pequeñas */
    }
    .elemento2{
        overflow-y: auto;
        height: 550px;
        padding-bottom: 2px;
    }
    .elemento3{
        display: inline-block;
    }

}