<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vencimientos</title>


</head>

<body>
    <content *ngIf="cargado">
        <div *ngIf="vencimientos.length" style="height:90vh; overflow:auto;">
            <div class="itemiti {{x.vencido > 0 ? 'green' : 'red'}}" *ngFor="let x of vencimientos">
                <div class="ribbon {{x.vencido > 0 ? 'green' : 'red'}}">{{x.vencido}}</div>
                <div class="itemcont">
                    <p style="color: grey; margin: 0; margin-left: 5px;">{{x.Carga | date}}</p>
                    <ul class="list-group list-group" style="min-width: 22rem;">
                        <li class="list-group-item d-grid gap-2 border-1">

                            <label>
                                <div style="display: flex;">
                                    <i class="fas fa-tools" style="margin-right: 10px;"></i>
                                    <h3>Documento</h3>
                                </div>
                                <p>{{x.vencimiento}}</p>
                            </label>
                        </li>
                        <li class="list-group-item d-grid gap-2 border-1">

                            <label>
                                <div style="display: flex;">
                                    <i class="far fa-user-circle" style="margin-right: 10px;"></i>
                                    <h3>Fecha de vencimiento</h3>
                                </div>
                                <p>{{x.Fecha | date}}</p>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        </div>

        <div *ngIf="!vencimientos.length">
            <div class="error message" style="width: 90%; margin: 0 auto; margin-top: 10px;">Por el momento no tiene
                documentos.</div>
                <br>
        </div>
    </content>
</body>

</html>