<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Diesel-index</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        div.green {
            color: green;
        }

        div.red {
            color: red;
        }
    </style>
</head>

<body>
    <content>
        <nav class="navbar bg-body-tertiary d-flex align-items-center justify-content-center" style="margin-top: 10px;">
            <span class="navbar-brand mb-0 h1 mx-auto" style="line-height: 50px;">Camiones</span>
        </nav>                     

        <div ng-if="camiones">
            <div class="list card" style="height:90vh; overflow:auto;">
                <div class="item item-divider">
                    <div class="" *ngIf="camiones.length">
                        <i class="fas fa-search"></i>
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar...">
                    </div>
                </div>
                <table class="table table-bordered"> <!-- Agregar la clase table-bordered para bordes en la tabla -->
                    <thead> <!-- Agregar la clase thead-dark para el color del header -->
                        <tr>
                            <th class="collapsing">#</th>
                            <th>Diesel</th>
                            <th class="collapsing">Rendimiento</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" >
                        <tr *ngFor="let x of camiones | search: searchTerm" [routerLink]="['/diesel-view', x.id]">
                            <td>{{ x.NoEconomico }}</td>
                            <td>
                                <div class="progress" role="progressbar" aria-label="Basic example"
                                    [attr.aria-valuenow]="x.TanqueActual" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" [style.width.%]="x.TanqueActual"></div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="x.rendimiento"
                                    [ngClass]="{'green': x.rendimiento >= x.rendimiento_camion, 'red': x.rendimiento < x.rendimiento_camion}">
                                    {{ x.rendimiento }} m/g
                                </div>
                                <div ng-if="!x.rendimiento">-</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </content>
</body>

</html>
