.form-group {
   margin-top: 10px;
   margin-left: 10px;
   width: 95%;
}

button.button.back-button.buttons.button-clear.header-item {
   display: none;
}

.form-group input {
   width: calc(100% - 77px);
   float: left;
   margin-right: 10px;
   padding-left: 10px;
   border-radius: 4px;
}

.btn-success {
   width: 67px;
}

.itemiti.color0 {
   border: 5px solid #c88500;
}

.itemiti.color4 {
   border: 5px solid #00c8c8;
}

.itemiti.color3 {
   border: 5px solid #00C800;
}

.itemiti.color2 {
   border: 5px solid #C80000;
}

.ribbon.color0 {
   background: #ffffff;
   /* Old browsers */
   background: -moz-linear-gradient(45deg, transparent 51%, #c88500 51%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg, transparent 51%, #c88500 51%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(45deg, transparent 51%, #c88500 51%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#00C800', GradientType=1);
   /* IE6-9 fallback on horizontal gradient */
}

.ribbon.color4 {
   background: #ffffff;
   /* Old browsers */
   background: -moz-linear-gradient(45deg, transparent 51%, #00c8c8 51%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg, transparent 51%, #00c8c8 51%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(45deg, transparent 51%, #00c8c8 51%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#00C800', GradientType=1);
   /* IE6-9 fallback on horizontal gradient */
}

.ribbon.color3 {
   background: #ffffff;
   /* Old browsers */
   background: -moz-linear-gradient(45deg, transparent 51%, #00C800 51%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg, transparent 51%, #00C800 51%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(45deg, transparent 51%, #00C800 51%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#00C800', GradientType=1);
   /* IE6-9 fallback on horizontal gradient */
}

.ribbon.color2 {
   background: #ffffff;
   /* Old browsers */
   background: -moz-linear-gradient(45deg, transparent 51%, #C80000 51%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg, transparent 51%, #C80000 51%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(45deg, transparent 51%, #C80000 51%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#C80000', GradientType=1);
   /* IE6-9 fallback on horizontal gradient */
}

.ion-close-circled.red {
   color: #FF0000 !important;
   position: absolute;
   top: 5px;
   right: 5px;
}

table.ui.small.definition.totales {
   width: 100%;
   margin: 0;
   background-color: transparent;
   position: absolute;
   bottom: 0;
}

table.ui.small.definition tr td {
   padding: 0 .78571429em;
}

.ribbon {
   margin-top: 0px;
   margin-right: 0px;
   padding-right: 0px;
   font-size: 10px;
}