<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nomina</title>


</head>

<body>

  <content>
    <div style="height:90vh; overflow:auto;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Seleccionar semana de nomina</h5>
          <content style="padding-bottom: 0;">
            <select class="form-select" aria-label="Default select example" id="semanas" [(ngModel)]="seleccionado"
              (change)="getSemana()">
              <option *ngFor="let semana of semanas" [value]="semana.SemanaID">{{ semana.semanaanio }}</option>
            </select>
            <!--
            <select class="form-select" aria-label="Default select example" id="semanas" [(ngModel)]="seleccionado" (change)="getValor()">
            <option *ngFor="let semana of semanas" [value]="semana.SemanaID">{{ semana.semanaanio }}</option>
          </select>
          -->

          </content>
        </div>
        <div class="card" *ngIf="buscado">
          <content>
            <div class="card">
              <div class="card-body">
                <table class="table table-striped table-hover">
                  <tbody>
                    <tr>
                      <td class="collapsing">De</td>
                      <td>{{info.semana.Fechaini | luDate:"large"}}</td>
                    </tr>
                    <tr>
                      <td class="collapsing">A</td>
                      <td>{{info.semana.Fechafin | luDate:"large"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </content>
        </div>
        <div *ngIf="buscado && info.viajes.length" > 
          <div class="itemiti color{{x.Status}}" *ngFor="let x of info.viajes" style="margin-bottom: 15px;">
              <div class="ribbon color{{x.Status}}">
                {{x.ItinerarioID}}
              </div>
              <div class="itemcont" style="padding-bottom: 20px;">
                  <p style="color: grey; margin-bottom: 0; text-indent: 10px;">{{x.Carga | luDate:"large"}}</p>
                  <ion-list>
                      <ion-item>
                        <i class="fas fa-clipboard-list" style="margin-right: 20px;"></i>
                        <ion-label>
                          <h3>Estatus</h3>
                          <p>{{x.estadoviaje | titlecase}}</p>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <i class="far fa-map" style="margin-right: 20px;"></i>
                        <ion-label>
                          <h3>Ruta</h3>
                          <p>{{x.ruta | titlecase}}</p>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <i class="fas fa-cube" style="margin-right: 20px;"></i>
                        <ion-label>
                          <h3>Contenedor</h3>
                          <p>{{x.contenedor}}</p>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <i class="fas fa-money-bill" style="margin-right: 20px;"></i>
                        <ion-label>
                          <h3>Importe</h3>
                          <p>{{x.ServiciomasExtras | currency}}</p>
                        </ion-label>
                      </ion-item>
                  </ion-list>
              </div>
          </div>
      </div>
      <br>
        <div class="alert alert-danger" role="alert" *ngIf="buscado && !info.viajes.length">
          <div class="center">No se encontraron driver moves esta semana.</div>
        </div>
        <br>
        <div class="card" *ngIf="buscado && info.viajes.length">
          <div class="card-body">
            <table class="table table-striped table-hover" *ngIf="buscado">
              <tbody>
                <tr>
                  <td class="collapsing">Pendiente</td>
                  <td>{{info.pendientes | currency}}</td>
                </tr>
                <tr>
                  <td class="collapsing">Autorizado</td>
                  <td>{{info.autorizados | currency}}</td>
                </tr>
                <tr>
                  <td class="collapsing">Descuentos</td>
                  <td>{{info.descuento | currency}}</td>
                </tr>
                <tr>
                  <td class="collapsing">Total</td>
                  <td>{{info.total | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </content>
</body>

</html>