.estatus-1 {
    --background: rgba(255, 255, 255, 0.9);
    --box-shadow: 50px black;
    border-top: 5px solid #00c800;
    border-bottom: 1px solid #00c800;
    border-right: 1px solid #00c800;
    border-left: 1px solid #00c800;
 }
 
 .estatus-2 {
    --background: rgba(255, 255, 255, 0.9);
    --box-shadow: 50px black;
    border-top: 5px solid #c80000;
    border-bottom: 1px solid #c80000;
    border-right: 1px solid #c80000;
    border-left: 1px solid #c80000;
 }
 
 .card-header-3 {
    color: #00c800;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
 }
 
.card-header-2 
{
   color: #c80000;
   font-weight: bolder;
   font-size: 20px;
   margin-bottom: 5px;
   padding-top: 10px;
   padding-left: 10px;
}
 .itemiti.color3
 {
    border: 5px solid #00C800;
 }
 .itemiti.color2
 {
    border: 5px solid #C80000;
 }
 .ribbon.color3
 {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg, transparent 51%, #00C800 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, transparent 51%,#00C800 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, transparent 51%,#00C800 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#00C800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
 .ribbon.color2
 {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg, transparent 51%, #C80000 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, transparent 51%,#C80000 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, transparent 51%,#C80000 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#C80000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
 .button.color3
 {
    background-color: #00C800;
 }
 .button.color2
 {
    background-color: #C80000;
 }
 .ion-close-circled.red
 {
    color: #FF0000 !important;
    position: absolute;
    top: 5px;
    right: 5px;
 }
 .ribbon {
    margin-top: -3px;
    margin-right: -3px;
    padding-right: 5px;
    font-size: 12px;
    padding-top: 5px;
    width: 60px;
    height: 60px;
    right: 0px;
    background-color: red;
    position: absolute;
    color: white;
    text-align: right;
    background: linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 46%, rgba(0,0,0,.6) 48%, #55c5d0 51%, #6cf0fd 100%);
    z-index: 90;
 }
 .itemiti {
    position: relative;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    width: 95%;
    margin-left: 2.5%;
    margin-top: 15px;
    box-shadow: 3px 3px 4px -1px #c4c4c4;
 }
 .itemcont {
    padding-top: 10px;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
 }
 ion-label
 {
    margin: 0;
 }
 ion-list ion-icon
 {
    margin-right: 5px;
 }
 ion-select::part(placeholder)::first-letter {
    font-size: 24px;
    font-weight: 500;
}
ion-select::part(text) {
    color: #545ca7;
}
ion-select::part(icon) {
    color: var(--ion-color-tertiary);
    opacity: 1;
}
ion-card-header
{
    background-color: #F0F0F0;
    border-radius: 5px;
}
ion-select::part(placeholder) {
    color: #20a08a;
    opacity: 1;
}

ion-card.totales
{
    width: 100%;
    margin: 0;
    background-color: transparent;
    position: fixed;
    bottom: 0;
}
table.ui.small.definition tr td
{
    padding: 0 .78571429em;
}
table.ui.small.definition tr td.rigth
{
    text-align: right;
}